body{
    background:linear-gradient(to right, blue, rgb(172, 35, 206), pink);
  }
  body, html {
     
      height: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .container {
      text-align: center;
    }
    
    .form-box {
      width: 300px; 
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: rgb(255, 253, 255);
    }
    .input-with-line{
      width: 100%;
      border: none;
      border-bottom: solid rgb(182, 182, 182);
      box-sizing: border-box;
      padding: 5px;
      margin-bottom: 25px;
    }